/*
declaration block:

selector{
    property;
    property2;
    property3;
}
*/

body{
    background-color: rgb(89, 0, 255);
    color: rgb(127, 255, 234);
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    width: 400px;
}

h1{
    text-align: center;
}